.vs
.vscode


*.suo
*.sdf
*.opensdf
*.user
*.o

WIIU/build/


PS3_DebugSuperchargers1_6_0
PS3_DebugImaginators1_1_0
AlchemyMetadataDumper.wps
AlchemyMetadataDumper.elf
cellPrx_AlchemyMetadataDumper_verlog.txt
